{% extends "::layout.html.twig" %}

{%  block body %}
    {{ parent() }}

    <div id="message_accueil">
        <h2>Le musée du Louvre vous accueil</h2>
        <p>
            Vous pouvez dès à présent réserver un ou plusieurs billet(s) grâce à notre billetterie. Choisissez le jour, le type et le nombre de billets que vous souhaitez.
        </p>
        <p>
            Vous receverez vos billets à l'adresse e-mail renseignée dans le formulaire.
        </p>
    </div>
    <div id="titre_formulaire">
        <h2>Choisissez la date et le type de billet souhaité pour votre visite</h2>
    </div>

    <div class="formulaire">

        {{ form_start(form) }}

            {{ form_row(form.dateVisite) }}
            {{ form_row(form.typeTicket) }}
            
        <ul class="tickets" data-prototype="{{ form_widget(form.tickets.vars.prototype)|e('html_attr') }}">
            {% for ticket in form.tickets %}

                {{ form_errors(ticket) }}
                {{ form_widget(ticket) }}

            {% endfor %}
        </ul>

            {{ form_row(form.email) }}
        {{ form_end(form) }}

    </div>






{% endblock %}