{% extends "::layout.html.twig" %}

{%  block body %}
    {{ parent() }}

    <div class="container">
        <div id="message_accueil">
            <h2>Le musée du Louvre vous accueil</h2>
            <p>
                Vous pouvez dès à présent réserver un ou plusieurs billet(s) grâce à notre billetterie. Choisissez le jour, le type et le nombre de billets que vous souhaitez.
            </p>
            <p>
                Vous receverez vos billets à l'adresse e-mail renseignée dans le formulaire.
            </p>
        </div>
        <div id="ancreHoraire">
            <a href="#horaireTarif" class="scroll"><p>Horaires et tarifs</p></a>
        </div>

        <div id="titre_formulaire">
            <h2>Choisissez la date et le type de billet souhaité pour votre visite</h2>
        </div>

        <div class="formulaire">

            {{ form_start(form) }}


            <p class="text-oblig-Un">Les champs date de visite et type de billet sont obligatoires.</p>
            <div class="date-type">
                {{ form_errors(form.dateVisite) }}
                {{ form_row(form.dateVisite, {'attr': {'placeholder': 'Cliquez pour choisir une date'}}) }}

                {{ form_errors(form.typeTicket) }}
                {{ form_row(form.typeTicket) }}
            </div>


            <div>

                <div class="titreTicket">
                    <p>Indiquez les renseigments pour votre/vos billet(s)</p>
                </div>
                <div class="conteneurFormTicket">
                <p class="text-oblig-deux">Les champs Nom, Prénom, Date de naissance, Pays et E-mail sont obligatoires.</p>
                <div class="displayTicket">

                    {{ form_errors(form.tickets, {'attr': {'class': 'ticketForm'}}) }}
                    {{ form_widget(form.tickets, {'attr': {'class': 'ticketForm form-inline '}}) }}


                </div>
                <hr>

                <a href="#" id="add_ticket" class="btn btn-default">Ajouter un billet</a>

            </div>
            </div>
            <div id="div-tarifReduit">
                <p id="text-tarifReduit">(1) Un tarif réduit à 10 € accordé dans certaines conditions (étudiant, employé du musée, d'un service du Ministère de la Culture, militaire, etc). Un justificatif (carte étudiant, militaire, etc) vous sera demandé à la présentation du billet.</p>
            </div>

            <div id="email">
                {{ form_errors(form.email) }}
                {{ form_row(form.email) }}
                <p id="text-email">Les billets seront envoyés à l'adresse e-mail renseignée</p>
            </div>

            <div class="bouton-valider col-xs-6 text-center col-xs-offset-3">
                {{ form_row(form.valider) }}

            </div>

            {{ form_end(form) }}


        </div>

        <div id="horaireTarif">
            <div>
                <h4>Horaires:</h4>
                <p>Le musée est ouvert tous les jours de 9h à 18h,<br> sauf le mardi, les 1er mai, 1er novembre et 25 décembre.</p>

            </div>
            <div>
                <h4>Tarifs:</h4>
                <ul>
                    <li>Normal (à partir de 12 ans): 16 €</li>
                    <li>Enfant (4 à 11 ans): 8 €</li>
                    <li>Sénior (à partir de 60 ans) : 12 €</li>
                    <li>Réduit (1): 10 €</li>
                    <li>Gratuit pour les enfants de moins de 4 ans</li>
                </ul>
                <p>Le prix des billets "Demi-jounée" est divisé par deux.</p>
            </div>
        </div>

    </div>
{% endblock %}
