{% extends "::layout.html.twig" %}

{% block body %}
    {{ parent() }}

    <div id="page_recap">
        <h2>Récapituatif de votre commande</h2>

        <div>
            <p>Jours de la visite : {{ cActu.dateVisite|date('d/m/y') }} </p>
            <p>Type de billet :
                {% if cActu.typeTicket == true %}
                    Journée entière
                    {% else %}
                    Demi-journée (A partir de 14 heure)
                {% endif %}
            </p>
            <p>Nombre de billets : {{ cActu.nbTickets|length }} </p>
        </div>
        <div>
            <p>Montant total : {{ cActu.prixTotal }} € </p>
        </div>

        <form action="{{ path('validation', {'id': cActu.id}) }}" method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_FBb3IsOVovXnzhLyIt7UlKAS"
                    data-amount="{{ cActu.prixTotal * 100 }}"
                    data-label="Procéder au paiement"
                    data-name="Musée du Louvre"
                    data-description="Commande de billet(s)"
                    data-image="{{ asset('images/tn_louvre-530058_1280.jpg') }}"
                    data-billing-address="true"
                    data-locale="auto"
                    data-allow-remember-me="false"
                    data-email="{{ cActu.email }}"
                    data-currency="eur">
            </script>
        </form>

        <div>

            <a href="{{ path('homepage') }}"><p>Retour au choix des billets</p></a>
        </div>
    </div>
{% endblock %}

