{% extends "::layout.html.twig" %}

{% block body %}
    {{ parent() }}

    <div id="page_recap">
        <h2>Récapituatif de votre commande</h2>

        <div>
            <p>Jours de la visite : {{ ticket.dateVisite }}</p>
            <p>Type de billet : {{ ticket.typeTicket }}</p>
            <p>Nombre de billets : {{ commande.tickets }}</p>
        </div>
        <div>
            <p>Montant total :{{ commande.prixTotal }}</p>
        </div>

        <div>
            <button>PROCEDER AU PAIEMENT</button>
            <a href="{{ path('homepage') }}"><p>Retour au choix des billets</p></a>
        </div>
    </div>
{% endblock %}

