{% extends "::layout.html.twig" %}

{% block body %}
    {{ parent() }}

    <div id="page_recap">
        <h2 id="titreRecap">Récapituatif de votre commande</h2>

        <div id="recapCommande">
            <p>Jours de la visite : {{ commande.dateVisite|date('d/m/y') }} </p>
            <p>Type de billet :
                {% if commande.typeTicket == true %}
                    Journée entière
                    {% else %}
                    Demi-journée (à partir de 14 heure)
                {% endif %}
            </p>
            <p>Nombre de billets : {{ commande.tickets|length }} </p>
        </div>

        <table id="tableauRecap">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Prix du billet</th>
                <th>Réduction ?</th>
            </tr>

            {% for ticket in commande.tickets %}
                <tr>
                    <td>{{ ticket.nom }}</td>
                    <td>{{ ticket.prenom }}</td>
                    <td>{{ ticket.dateNaissance|date('d/m/Y') }}</td>
                    <td>{{ ticket.prix }} €</td>
                    <td>
                        {% if ticket.reduction == true %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div id="montantTotal">
            <p>Montant total : {{ commande.prixTotal }} € </p>
        </div>

        <form id="cgv">
            <input type="checkbox" id="checkCgv" required><label>J'accepte les <a href="https://www.ticketlouvre.fr/louvre/b2c/index.cfm/CGV" target="_blank">conditions générales de vente.</a></label>
        </form>

        <div id="BoutonPaiement">

            {% if commande.prixTotal == 0 %}
                <a href="{{ path('confirmation', {'id': commande.id}) }}" id="prixZero">Valider cette commande</a>
            {% else %}
        <form action="{{ path('validation', {'id': commande.id}) }}" method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_FBb3IsOVovXnzhLyIt7UlKAS"
                    data-amount="{{ commande.prixTotal * 100 }}"
                    data-label="Procéder au paiement"
                    data-name="Musée du Louvre"
                    data-description="Commande de billet(s)"
                    data-image="{{ asset('images/tn_louvre-530058_1280.jpg') }}"
                    data-billing-address="true"
                    data-locale="auto"
                    data-allow-remember-me="false"
                    data-email="{{ commande.email }}"
                    data-currency="eur">
            </script>
        </form>
        {% endif %}

            <a href="{{ path('homepage', {'id': commande.id}) }}" id="lienRetour"><p>Retour au choix des billets</p></a>
        </div>
    </div>
{% endblock %}

